@media (max-width: 70px) {
    .stDropdown {
        display: grid;
    }
}

@media (max-width: 2400px) {
    .stDropdown {
        display: inline-block;
        min-height: 20px !important;;
        right: 0;
        margin-right: 5px;
    }
}
.stDropdown input {
    margin: 0 !important;
    padding: 0 !important;
}

.stDropdown-btn {
    display: inline-block;
    right: 0;
    position: absolute;
    /*margin-top:20px;*/
    margin-right: 18px;
}

.stDropdown_city {
    margin-left: 15px !important;
}

.stCardTitleWhite {
    color: white;
    margin-top: 0px !important;
    min-height: auto!important;
    font-weight: 300!important;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif!important;
    margin-bottom: 3px!important;
    text-decoration: none!important;
}

.stCardCategoryWhite {
    color: rgba(255,255,255,.62)!important;
    margin: 0 !important;
    font-size: 14px!important;
    margin-top: 0px;
    margin-bottom: 0px;
}

.stIcon {
    max-width: 22px;
    max-height: 24px;
    margin-left: 20px;
}

.stHeadTableIcon{
    margin-left: 20px !important;
}

.stHeadTable {
    color: #2e2e2e;
    text-align: left !important;
    margin-top: 10px !important;
    padding-top: 10px;
    min-height: auto !important;
    font-weight: 300;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    margin-bottom: 3px;
    text-decoration: none;
}
.stCountStr{
    color: #2e2e2e;
    text-align: center !important;
    margin-top: 20px !important;
    min-height: auto !important;
    font-weight: 300;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    margin-bottom: 3px;
    text-decoration: none;
}

/**/
.form_radio_btn_start
{
    display: inline-block;
    margin-right: 0px;
}
.form_radio_btn_end
{
    display: inline-block;
    margin-right: 0px;
}

.form_radio_btn {
    display: inline-block;
    margin-right: 0px;
}

.form_radio_btn_start input[type=radio]
{
    display: none;
}
.form_radio_btn_end input[type=radio]
{
    display: none;
}
.form_radio_btn input[type=radio] {
    display: none;
}
.form_radio_btn label {
    background-color: #8e24aa;
    display: inline-block;
    cursor: pointer;
    padding: 0px 12px;
    line-height: 37px;
    border-left: 1px solid #999;
    border-radius: 0px;
    user-select: none;
}

.form_radio_btn_end label {
    background-color: #8e24aa;
    display: inline-block;
    cursor: pointer;
    padding: 0px 12px;
    line-height: 37px;
    border-left: 1px solid #999;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    user-select: none;
}

.form_radio_btn_start label {
    background-color: #8e24aa;
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 37px;

    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    user-select: none;
}

/* Checked */
.form_radio_btn_start input[type=radio]:checked + label,
.form_radio_btn_end input[type=radio]:checked + label,
.form_radio_btn input[type=radio]:checked + label
{
    background: #ffe0a6;
    color: #8e24aa;
    border: 1px solid #8e24aa;
    line-height: 35px;
}

/* Hover */
.form_radio_btn label:hover,
.form_radio_btn_end label:hover,
.form_radio_btn_start label:hover
{
    color: #ffffff;
}

/* Disabled */
.form_radio_btn input[type=radio]:disabled + label {
    background: #efefef;
    color: #666;
}

.form_radio_btn_end input[type=radio]:disabled + label {
    background: #efefef;
    color: #8e24aa;
}
.form_radio_btn_start input[type=radio]:disabled + label {
    background: #efefef;
    color: #8e24aa;
}
