.tableHeader {
    color: green;
}

.tableBody {
    background-color: lightblue;
}

.addTableBody {
    background-color: #eeeeee;
}

.filterButton {
    background-color: white !important;
}

.actfilterButton {
    background-color: red !important;
}

.filterButton:active  {
    background-color: red !important;
}


.stCardTitleWhite {
    color: white;
    margin-top: 0px !important;
    min-height: auto!important;
    font-weight: 300!important;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif!important;
    margin-bottom: 3px!important;
    text-decoration: none!important;
}

.stCardCategoryWhite {
    color: rgba(255,255,255,.62)!important;
    margin: 0 !important;
    font-size: 14px!important;
    margin-top: 0px;
    margin-bottom: 0px;
}

.stIcon {
    max-width: 22px;
    max-height: 24px;
    margin-left: 20px;
}

.stHeadTable {
    color: #2e2e2e;
    text-align: center !important;
    margin-top: 12px !important;
    min-height: auto !important;
    font-weight: 300;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    margin-bottom: 3px;
    text-decoration: none;
}


/**/
.form_radio_btn {
    display: inline-block;
    margin-right: 0px;
}
.form_radio_btn input[type=radio] {
    display: none;
}
.form_radio_btn label {
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    border: 1px solid #999;
    border-radius: 0px;
    user-select: none;
}

/* Checked */
.form_radio_btn input[type=radio]:checked + label {
    background: #ffe0a6;
}

/* Hover */
.form_radio_btn label:hover {
    color: #666;
}

/* Disabled */
.form_radio_btn input[type=radio]:disabled + label {
    background: #efefef;
    color: #666;
}
