.visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 20px;
    width: 1px;
}

.table {
    min-width: 750px;
}
.root {
    width: 100%;
}

.bahCardTitleWhite {
    color: white;
    margin-top: 0px !important;
    min-height: auto!important;
    font-weight: 300!important;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif!important;
    margin-bottom: 3px!important;
    text-decoration: none!important;
}

.bahCardCategoryWhite {
    color: rgba(255,255,255,.62)!important;
    margin: 0 !important;
    font-size: 14px!important;
    margin-top: 0px;
    margin-bottom: 0px;
}
